@import "tailwindcss";
@import "@nuxt/ui";

* {
    box-sizing: border-box;
  }
.background-red{
    background-color: green;
}
h1{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}

h2{
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 0;
    text-align: center;
}

p{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}
.hex-bubble{
    width: 100%;
}
